#root {
  margin: auto auto;
  text-align: center;
}

.logo {
  height: 6em;
  filter: drop-shadow(0 0 2em #fff5a0);
  animation: logo-spin infinite 1000ms linear;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move-bg {
  from {
    background-position: var(--bg-size);
  }
  to {
    background-position: 0;
  }
}
.animation-h1 {
  --bg-size: 200%;
  --color-one: hsl(223, 84%, 48%);
  --color-two: oklch(0.705 0.213 47.604);
  font-size: 3rem;
  background: linear-gradient(
      to right,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: move-bg 3s infinite linear;
}
